html{
    --pokemon-red:#A22E32;
    --flying-purple:#899AFF;
}
body{
    padding:0px;
    margin:0px;
    background-position:left;
    background-repeat:no-repeat;
    font-family:sans-serif;
}
.banner{
    border:1px solid var(--pokemon-red);
    border-radius:10px;
    height:15vh;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-image:url("https://wallpapercave.com/wp/wp12045006.jpg");
    background-size:cover;
    background-position:center;
    margin:1em;
}
.page-header{
    color: #FFFFFF;
    font-size:4em;
    text-shadow: 1px 3px 0 #000000, 1px 13px 5px #000000;
}
main{
    /* border:solid black; */
    display:flex;
    height:80vh;
    margin:0px 1em;
    flex-flow:column nowrap;
    align-items:flex-end;
}
.bg{
    position:fixed;
    height:100%;
    top:0px;
    z-index:-1;
}
.left{
    background-image:url("/img/pokemon-bg-left.png");
    background-size:auto;
    background-position:top right;
    background-repeat:no-repeat;
    width:30vw;
}
.right{
    background-image:url("/img/pokemon-bg-right.png");
    right:0px;
    background-size:auto;
    background-position:top left;
    background-repeat:no-repeat;
    background-color:var(--pokemon-red);
    width:70vw;
}
.searchBar{
    border: 2px solid var(--pokemon-red);
    border-radius:10px;
    width:25vw;
    height:fit-content;
    padding:0px 1em 2em;
    position:fixed;
    left:1em;
}
.searchBar label{
    font-weight:bold;
}
.cardContainer{
    /* border:solid cyan; */
    width:60vw;
    padding:1em;
}
.card{
    border-radius:20px;
    box-shadow: 5px 5px 15px 5px #101010;
    background-color:white;
    height:15vh;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-evenly;
    align-items:center;
    overflow:hidden;
    gap:2em;
    padding:0px 1em;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(0,0,0,0);
    margin-bottom:2em;
}
.card .number{
    font-size:4em;
    margin:0px;
    letter-spacing:0.2em;
}
.card .name{
    font-size:2em;
    margin:0px;
}
.card .cardInfo{
    margin-right:auto;
}
.card .type{
    border:1px solid grey;
    border-radius:5px;
    padding:0.5em;
    font-size:1.5em;
    font-weight:bold;
    color:white;
    width:130px;
    text-align:center;
}
.sticky {
    position:fixed;
    top:0;
    width:100%;
}

.normal{
    background-color:grey;
}
.fire{
    background-color:orangered;
}
.water{
    background-color:cornflowerblue;
}
.electric{
    background-color:gold;
}
.grass{
    background-color:lightgreen;
}
.ice{
    background-color:skyblue;
}
.fighting{
    background-color:crimson;
}
.poison{
    background-color:darkmagenta;
}
.ground{
    background-color:goldenrod;
}
.flying{
    background-color:var(--flying-purple);
}
.psychic{
    background-color:hotpink;
}
.bug{
    background-color:yellowgreen;
}
.rock{
    background-color:tan;
}
.ghost{
    background-color:darkslateblue;
}
.dragon{
    background-color:darkorchid;
}
.dark{
    background-color:brown;
}
.steel{
    background-color:silver;
}
.fairy{
    background-color:lightpink;
}
