body{
    padding:0px;
    margin:0px;
    overflow:hidden;
    background-image:url("/img/pokeball-background.jpg");
    background:bottom cover fixed;
    --pokemon-red:#C12026;
}
.banner{
    border:1px solid var(--pokemon-red);
    border-radius:10px;
    height:15vh;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-image:url("https://wallpapercave.com/wp/wp12045006.jpg");
    background-size:cover;
    background-position:center;
    margin:1em;
}
.page-header{
    color: #FFFFFF;
    font-size:4em;
    text-shadow: 1px 3px 0 #000000, 1px 13px 5px #000000;
}
main{
    /* border:solid black; */
    display:flex;
    height:80vh;
}
.searchBar{
    border: solid red;
    width:27%;
}
.cardContainer{
    border:solid cyan;
    width:73%;
}